<!DOCTYPE html>
<html>
<head>

	<title>Event Brite Yo</title>

</head>
<body>
	<h1>Evenements à venir</h1>
	<p> <%@events.each do |event|%>
		<%= @event = event.title%>
		<%end%>

	<p>

</body>
</html>